<div class="header-info">
  <div class="container">
    <div class="header-top-in">
      <ul class=" support-right">
        <li><%= link_to t("login"), t("#") %></li>
        <li><%= link_to t("register"), "#" %></li>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
