  <div class="top-nav">
    <ul class="memenu skyblue"> <li><%= link_to t("home_title"), root_path %></li>
      <li class="grid"><a href="#"><%= t "m_title" %></a>
      </li>
      <li class="grid"><a href="#"><%= t "w_title" %></a>
      </li>
      <li class="grid"><%= link_to t("contact"), "#" %>
      </li>
      </ul>
      <div class="clearfix"> </div>
